<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Creer un compte</h2>
        <form #f="ngForm" (ngSubmit)="Submit(f)">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="text" required email ngModel name="email" #email="ngModel">
                <div *ngIf="email.valid" class="alert alert-success">
                    email success
                  </div>
                  <div *ngIf="email.errors &&(email.touched || email.dirty)" class ="alert alert-danger">
                    
                      Invalid email
                    
                   </div> 
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="form-control" id="password" type="password" required minlength="8" ngModel name="password" #password="ngModel">
                <div *ngIf="password.valid" class="alert alert-success">
                    Mot de passe success
                  </div>
                  <div *ngIf="password.invalid">
                    <div *ngIf="password.touched &&(password.touched || password.dirty)" class="alert alert-danger">
              le mot de passe doit obtenir au minimum 8 caracteres
                    </div>
                    
                  </div>

            </div>
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Creer mon compte</button>

        </form>
        <p class="text-danger">{{errorMessage}}</p>
    </div>
</div>